// Import bootstrap styles
@import 'bootstrap-custom';

///////////////////////////////
// VARIABLES 


// Media query variables
// Extra small screen / phone
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;


// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;


// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;



h2 {
  color: #848484;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;      
}

#app-container {
    #gMap {
    width: 100%;    
  }  
}

#player-container {
    #gMap {
    width: 100%;    
  }  
}


#hunt-info-container {
  padding-right: 40px;

  #hunt-title-container {
    margin: 20px 0 25px;     
    #hunt-title {
      margin: 0px 0;
      font-size: 30px;          
    }
  }

  .tour-summary-container {
    
    h2 {
      color: #676767;
    }

    .summary-box {
      background-color: #F4F4F4;
      border: 1px solid #ccc;
      padding: 15px 20px 15px;        

      p {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 0px;
      }
    }
  }

  #pin-container {

    .clue-hint-container {
      margin-bottom: 10px;
    }
  }
}

.gMapInactiveButton {
  background: rgba(70,70,70,0.5);
  width : 35px;
  height : 35px;
  margin-bottom : 22px;
  margin-left : 10px;
  text-align : center;
  margin-top : 10px;
  border : 2px solid #fff;
  border-radius : 200px;
  box-shadow : 0 2px 6px rgba(0,0,0,.3);
  cursor : 'pointer';
}
.gMapInactiveButton:hover {
  background: rgba(33,33,33,0.6);
}
.gMapActiveButton {
  background: rgba(33,33,33,0.9);
  width : 35px;
  height : 35px;
  margin-bottom : 22px;
  margin-left : 10px;
  text-align : center;
  margin-top : 10px;
  border : 2px solid #fff;
  border-radius : 200px;
  box-shadow : 0 2px 6px rgba(0,0,0,.3);
  cursor : 'pointer';
}


.gMapText{
  color : rgb(255,255,255);
  font-family : 'Roboto Arial,sans-serif';
  font-size : 16px;
  line-height : 38px;
  padding-left : 5px;
  padding-right : 5px;
  padding-bottom : 5px;
}

#bottomNav {
  color: #fff;

  .status-nav, .clues-nav, .map-nav {
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-color:dimGray;
    border-radius:50%;
    position:absolute;
    color:white;
    text-align:center;
    line-height:70px;
    z-index:1;
    transition: all 200ms cubic-bezier(0.680, 0, 0.265, 0);
    position:absolute;
    background-color: gray;
    
    a {
      font-size: 10px;
      color: #fff;

      i {
        display: block;
        margin-top: 9px;
      }
    }
  }

  .status-nav {  
    a {
      i {
        font-size: 22px;
        margin-top: 10px;
        margin-bottom: -26px;
      }  
    }    
  }

  .clues-nav, .map-nav { 
    a {
      i {
        font-size: 25px;
        margin-top: 9px;
        margin-bottom: -27px;
      }  
    }    
  }

  .mask {
    i {
      position: absolute;
      top: 15px;
      left: 17px;
    } 
  }
}

#player-container {
  padding: 0 15px;
}


.nav-item-container, .mask {
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
}


.mask {
  border-radius:50%;
  position:absolute;
  z-index:21;
  color:white;
  text-align:center;
  line-height:120px;
  cursor:pointer;
  position:fixed;
}



.nav-item-container {
  position:fixed;
  display:block;
  background-color:transparent;
  border-radius:50%;
  z-index:20;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.transformNavItemOne {
  background-color: gray;
  transform: translate(0px,-125px);
}

#welcome-msg-container {
  background: url(../static/golden-gate-bridge.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

