

h1{
	line-height: 4 !important;
  font-family: 'ubuntu', arial; 
}

a{
	color: white;
	margin: 0;
	line-height: 5;
	padding: 10px;
	padding-left: 25px;
	padding-right: 25px;
	font-size: 18px;
	background-color: #ffa600 !important;	
}

.center{
	text-align: center;
}

.mainTitle {
  font-size: 73px !important;
  margin: -117px;
  padding: 50px 0 16px;
  color: #fff;
  background-color: rgba(0,0,0,0.6);
}

.profilePic{
	border-radius: 200px;
	width: 120px;
	height: 120px;
	margin-left: 2%;
	margin-right: 2%;
}


#homepage-container {
  background: url(../static/homepage-cropped.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: -20px;
  min-height: 1000px;
}

