// Import bootstrap styles
@import 'bootstrap-custom';

///////////////////////////////
// VARIABLES 


// Media query variables
// Extra small screen / phone
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;


// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;


// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

#creater-container {

  h2 {
    color: #848484;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;      
  }

  #map-container {
    img {
      width: 100%;
    }
  }

  #hunt-info-container {
    padding-right: 40px;

    #hunt-title-container {
      margin: 20px 0 25px;     
      #hunt-title {
        margin: 0px 0;
        font-size: 30px;          
      }
    }
  
    .tour-summary-container {
      
      h2 {
        color: #676767;
      }

      .summary-box {
        background-color: #F4F4F4;
        border: 1px solid #ccc;
        padding: 15px 20px 15px;        

        p {
          font-size: 15px;
          font-weight: bold;
          margin-bottom: 0px;
        }
      }
    }

    #pin-container {

      .clue-hint-container {
        margin-bottom: 10px;
      }

    }

    

  }


}



































