<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Path Hero</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    {{> favicons}}
    {{> analytics}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    
    <!-- @if NODE_ENV='production' -->
    <link rel="stylesheet" href="http://pathhero.bencreasy.com/style/style.css">
    <!-- @endif -->
    <!-- @if NODE_ENV='development' -->
    <link rel="stylesheet" href="http://create.wettowelreactor.com:3000/style/style.css">
    <!-- @endif -->

    <link rel="stylesheet" href="style/style.css">
    <!-- vendor scripts -->
    <script src="http://pathhero.com/bower_components/jquery/dist/jquery.js"></script>
    <script src="static/index.js"></script>
  </head>
  <body id="choose-hunt-page">
    <div class="player-index">
      <div class="account player-index">
        <h1>Choose a hunt</h1>
          
        <div class="HuntList list-group">
        </div>
        
      </div>      
    </div>
  </body>


</html>


